-hide_page_title
#home_left_col.h_box
  %ul.lst
    %li
      =link_to "About us", slug_path("about-the-bta"), :class=>'about_link'
    %li
      =link_to "Contact us", "#", :class=>'contact_link'
    %li
      =link_to "Donate", "#", :class=>'donate_link'
  =link_to "Our Ambassador", "#", :class=>'our_ambassador'
  #campaign_box
    %h4 Campaign title
#home_box_center  
  #box_professionals.h_box
    %h3.title Get informed
    %ul.lst
      %li
        %h4.title 
          =link_to "For researchers", section_slug_path("for-researchers")
        -link_to(section_slug_path("for-researchers"), :class => "h_image") do
          =image_tag "/images/professional_img.jpg", :width=>'60px', :alt=>'proff'
        %p
          Details of three PhD studentships, funded by Deafness Research UK are now available on the 
      %li
        %h4.title 
          =link_to "For health professionals", section_slug_path("for-health-professionals")
        -link_to(section_slug_path("for-health-professionals"), :class => "h_image") do
          =image_tag "/images/professional_img2.jpg", :width=>'60px', :alt=>'proff'
        %p
          Details of three PhD studentships, funded by Deafness Research UK are now available on the 
      %li
        %h4.title  
          =link_to "For policy makers", section_slug_path("for-policy-makers")
        -link_to(section_slug_path("for-policy-makers"), :class => "h_image") do
          =image_tag "/images/professional_img3.jpg", :width=>'60px', :alt=>'proff'
        %p
          Details of three PhD studentships, funded by Deafness Research UK are now available on the 
      %li
        %h4.title  
          =link_to "Latest medical advances ", "#"
        -link_to("#", :class => "h_image") do
          =image_tag "/images/professional_img4.jpg", :width=>'60px', :alt=>'proff'
        %p
          Details of three PhD studentships, funded by Deafness Research UK are now available on the 
  #box_shop.h_box
    %h3.title
      =link_to "The BTA shop", shop_path
    %ul.lst
      -@products.each do |product|
        %li
          -link_to(product, :class => "h_image") do
            =image_for(product, "200x200#")
            %h4.title=product.name
#latest_news
  %h3.title
    =link_to "Latest News", slug_path(:news_and_events)
  -if @latest_news_item.nil?
    %p No news at the moment. Check back later.
  -else
    #big_news_item
      =link_to(photo_for(@latest_news_item, "280x160#"), @latest_news_item, :class => "h_image")
      %h4=link_to(@latest_news_item.title, @latest_news_item)
      %p=strip_tags @latest_news_item.summary
    %ul.lst
      -@news_items.each do |news|
        %li
          =link_to(photo_for(news, "60x60#"), news, :class => "h_image")
          %h4=link_to(news.title, news)
          %p=strip_tags news.summary
#community_row
  #forum_box
    %h3.title
      =link_to "BTA forum ", forum_path(1)
    %ul.lst
      -if false
        -@forum_posts.each do |post|
          %li
            =link_to post.name, post
            %p
              %span
                3 posts.
              Created at 07:28 on 26 August
      %li
        =link_to "Potential treatments", "#"
        %p
          %span
            3 posts.
          Created at 07:28 on 26 August
      %li
        =link_to "Profound Deafness and Tinnitus", "#"
        %p
          %span
            3 posts.
          Created at 07:28 on 26 August
      %li
        =link_to "Background noise on TV", "#"                
        %p
          %span
            3 posts.
          Created at 07:28 on 26 August

  #facebook_box
    %h3.title
      =link_to "Facebook ", "#"
    =facebook_like_box("http://www.facebook.com/BritishTinnitusAssociation")
  #twitter_box
    %h3.title
      =link_to "Twitter ", "http://www.twitter.com/britishtinnitus"
    %p.tweet  
      =highlight_tweet_links(@latest_tweet)
    =link_to "Follow us ", "http://www.twitter.com/britishtinnitus", :class=>'bttn_round'      
    