-hide_page_title
#home_box_center
  #home_left_col.h_box
    =render_subnav(Section.slug("about-us"), nil)
  #home_box_right  
    #box_professionals.h_box
      %ul.lst
        %li
          %h4.title 
            =link_to "What is tinnitus?", @about_tinnitus_page
          -link_to(@about_tinnitus_page, :class => "h_image") do
            =image_tag "/images/what_is_tinnitus.jpg", :width=>'60px', :alt=>'proff'
          %p=@about_tinnitus_page.summary(85)
        %li
          %h4.title 
            =link_to "For health professionals", @professionals_section
          -link_to(@professionals_section, :class => "h_image") do
            =image_tag "/images/for_health_proffessionals.jpg", :width=>'60px', :alt=>'proff'
          %p=@professionals_section.summary(85)
        %li
          %h4.title  
            =link_to "Tinnitus research", @researchers_section
          %p=@researchers_section.summary(85)
        %li
          %h4.title  
            =link_to "Support and services ", @support_and_services_section
          %p=@support_and_services_section.summary(85)
    -if false
      #box_shop.h_box
        %h3.title
          =link_to "The BTA shop", '/shop'
        %ul.lst
          -@products.each do |product|
            %li
              -link_to(product, :class => "h_image") do
                =image_for(product, "200x200#")
                %h4.title=product.name
    #latest_news
      %h3.title
        =link_to "Latest News", slug_path(:news_and_events)
      -if @latest_news_item.nil?
        %p No news at the moment. Check back later.
      -else
        %ul.lst
          %li
            =link_to(photo_for(@latest_news_item, "60x60#"), @latest_news_item, :class => "h_image")
            %h4=link_to(@latest_news_item.title, @latest_news_item)
            %p=strip_tags @latest_news_item.summary
          -@news_items.each do |news|
            %li
              =link_to(photo_for(news, "60x60#"), news, :class => "h_image")
              %h4=link_to(news.title, news)
              %p=strip_tags news.summary
#community_row
  -unless @campaign.nil?
    #campaign_box
      -link_to @campaign do
        =image_tag(@campaign.front_page_image.url)
        %h4=@campaign.name
  #forum_box
    %h3.title
      =link_to "BTA forum ", forums_path
    %ul.lst
      -unless @forum_topics.blank?
        -@forum_topics.each do |topic|
          %li
            =link_to topic.subject, topic
            %p
              %span= "#{pluralize(topic.posts.count, "post")}."
              ="Last post at #{topic.get_last_post.created_at.strftime("%H:%M on %e %B")}"
  #facebook_box
    %h3.title
      =link_to "Facebook ", "#"
    =facebook_like_box("http://www.facebook.com/BritishTinnitusAssociation")
  #twitter_box
    %h3.title
      =link_to "Twitter ", "http://www.twitter.com/britishtinnitus"
    %p.tweet  
      =highlight_tweet_links(@latest_tweet)
    =link_to "Follow us ", "http://www.twitter.com/britishtinnitus", :class=>'bttn_round'      
    