%p#medical_info
  Material on this site is for information purposes only and is not a substitute for medical advice - you should always see your doctor and/or medical professional. 
#footer_links    
  %ul 
    %li=link_to_slug("Contact us", "contact-us")
    %li=link_to_slug("Press", "press")
    %li=link_to_slug("Legal", "legal")
    %li=link_to_slug("Website credits", "website-credits")
    %li=link_to_slug("Accessibility options ", "accessibility-options")
    %li=link_to("Website feedback ", :controller => "enquiries", :action => "new", :id => "feedback")
    %li=link_to("Sitemap", sitemap_path)
    %li=link_to 'Lottery Funded', 'http://www.biglotteryfund.co.uk', :id=>'lottery_funded', :target=>'_blank'        
%p#copyright
  %strong
    &copy; The British Tinnitus Association
  %br  
    Registered charity no. 1011145 Company limited by guarantee no. 2709302, registered in England.