#footer_links
  %p#copyright
    %strong
      &copy; The British Tinnitus Association 
    %br
    Ground Floor, Unit 5 
    %br
    Acorn Business Park, Woodseats Close 
    %br
    Sheffield, S8 0TB
    %br
    Telephone: 0800 018 0527
    %br
    Email: info@tinnitus.org.uk
    
  %a#siteby{ :href => "http://www.yoomee.com" }
    site by
  %ul
    - if @is_sys_admin
      %li
        %a{ :href => "/admin" }
          %strong
            admin
    %li
      %a{ :href => "legal" }
        legal
    %li
      %a{ :href => "link2" }
        another link