%h1#site_logo
  =link_to site_name, :home
#user_links
  - if logged_in?
    =link_to('Logout', session_path, :method => :delete)
    =link_if_allowed 'Site settings', admin_proc
    %strong
      =link_to(@logged_in_member.full_name, member_path(@logged_in_member))
  - elsif !current_page?(new_session_path)
    %p=link_to('login', new_session_path, :id => 'member_login_bttn')