-if in_campaigns?
  %img{:src => campaign_header_image_url}
  =link_to site_name, :home, :class=>'bta_home_link'
-else
  #logo_box
    %h1#site_logo
      =link_to site_name, :home
    %p The British Tinnitus Association (BTA) is a world leader, with a trained team of friendly and experienced advisers for anyone who experiences tinnitus or those simply seeking guidance or information about the condition.  
  #user_links
    =link_to "Donate", Page.slug(:donate), :id=>'donate-btn', :class=>"donate-btn-top"
    .search_box
      -form_for Search.new, :url => {:controller => "search", :action => "create"}, :html => {:id => "search_form"} do |form|
        =form.text_field :term, :value => "Search", :class => "search_field", :id => "header_search_field", :onfocus => "$(this).val('')"
        %button.search_icon{:name => "commit", :title => "search", :value => "search" }        
    =link_to "Cart <span>#{find_existing_cart.items.count}</span>", cart_path, :id=>'cart_link'  if !find_existing_cart.nil? &&   !find_existing_cart.items.count.zero? 
    - if logged_in?
      =link_to('Logout', session_url, :method => :delete)
      =link_if_allowed 'Site settings', admin_proc, :class=>'site_settings'
      %strong
        =link_to(@logged_in_member.full_name, member_path(@logged_in_member))
    - elsif !current_page?(new_session_path)
      %p=link_to('login / sign up', '#', :id => 'member_login_bttn')
    =link_to_remote "#{mobile_view? ? 'Standard site' : 'Mobile site'}", :url =>{:controller => 'mobile', :action => 'toggle'}

-if is_home?
  #home_header
    #case_study_carousel
      .cycle
        -@carousel_pages.each do |page|
          .slide
            #case_study_image
              - if page.carousel_photo
                =photo_for(page, '525x351#', :method => "carousel_photo")
              -else
                =photo_for(page, '525x351#')
            #case_study_quote
              =render_carousel_quote(page)
              =render_carousel_button(page)
      #other_case_studies
        %h4 Other Stories
        %ul.lst
          -@carousel_pages.each do |page|
            %li
              -if page.carousel_photo
                =link_to photo_for(page, '67x45#', :method => "carousel_photo"), "#"
              -else
                =link_to photo_for(page, '67x45#'), "#"
    #get_support
      %h2
        Get support
        
      %ul.lst
        %li
          -link_to(slug_path("about-tinnitus"), :id => "find_out_more") do
            %h5 Learn more
            %p Find out more about tinnitus
        %li
          -link_to(slug_path("contact-us"), :id => "support_call") do
            %h5 Speak to someone
            %p Call our confidential helpline
            %p.phone_number 0800 018 0527
        %li
          -link_to('/shop', :id => "support_shop") do
            %h5 Visit our shop
            %p Find products that can help you
        -if false    
          %li
            -link_to(forum_path(1), :id => "support_forum") do
              %h5 Share your story
              %p Visit our Forum
          
          
%br.clear  