#logo_box
  %h1#site_logo
    =link_to site_name, :home
  %p The British Tinnitus Association (BTA) is a world leader, with a trained team of friendly and experienced advisors for anyone who experiences tinnitus or those simply seeking guidance or information about the condition.  
#user_links
  .search_box
    %form{ :action => "/search/results", :method => "post" }
      %input.search_field#header_search_field{ :name => "term", :type => "text", :value => "Search", :onfocus => "var element = document.getElementById('header_search_field');element.value='';" }
      %input.search_icon{ :name => "commit", :title => "search", :value => "search" }
  =link_to "Cart (#{find_existing_cart.items.count})<span></span>", cart_path, :id=>'cart_link'  if !find_existing_cart.nil? && !find_existing_cart.items.count.zero? 
  - if logged_in?
    =facebook_session ? facebook_connect_logout_link : link_to('Logout', session_url, :method => :delete)  
    =link_if_allowed 'Site settings', admin_proc
    %strong
      =link_to(@logged_in_member.full_name, member_path(@logged_in_member))
  - elsif !current_page?(new_session_path)
    %p=link_to('login / sign up', '#', :id => 'member_login_bttn')
  =link_to_remote "#{in_mobile_view? ? 'Standard site' : 'Mobile site'}", :url =>{:controller => 'mobile', :action => 'toggle'}

-if is_home?
  #home_header
    #case_study_carousel
      .cycle
        .slide
          #case_study_image
            =image_tag '/images/carousel_image.jpg'
          #case_study_quote
            %h3
              %span#quote_start
                &quot;
              My message to anyone who thinks they may have tinnitus is 'you are not alone'
              %span#quote_end
                &quot;          
            =link_to "Read Nicola's story", "#", :class=>'read_more'  
            =link_to "Learn about tinnitus", "#", :id=>'learn_more_bttn', :class=>'bttn_round'
        .slide
          #case_study_image
            =image_tag '/images/carousel_image2.jpg'
          #case_study_quote
            %h3
              %span#quote_start
                &quot;
              My message to anyone who thinks they may have tinnitus is 'you are not alone'
              %span#quote_end
                &quot;          
            =link_to "Read Nicola's story", "#", :class=>'read_more'  
            =link_to "Learn about tinnitus", "#", :id=>'learn_more_bttn', :class=>'bttn_round'
        .slide
          #case_study_image
            =image_tag '/images/carousel_image3.jpg'
          #case_study_quote
            %h3
              %span#quote_start
                &quot;
              My message to anyone who thinks they may have tinnitus is 'you are not alone'
              %span#quote_end
                &quot;          
            =link_to "Read Nicola's story", "#", :class=>'read_more'  
            =link_to "Learn about tinnitus", "#", :id=>'learn_more_bttn', :class=>'bttn_round'
        .slide
          #case_study_image
            =image_tag '/images/carousel_image4.jpg'
          #case_study_quote
            %h3
              %span#quote_start
                &quot;
              My message to anyone who thinks they may have tinnitus is 'you are not alone'
              %span#quote_end
                &quot;          
            =link_to "Read Nicola's story", "#", :class=>'read_more'  
            =link_to "Learn about tinnitus", page_slug_path("about-tinnitus"), :id=>'learn_more_bttn', :class=>'bttn_round'
        .slide
          #case_study_image
            =image_tag '/images/carousel_image5.jpg'
          #case_study_quote
            %h3
              %span#quote_start
                &quot;
              My message to anyone who thinks they may have tinnitus is 'you are not alone'
              %span#quote_end
                &quot;          
            =link_to "Read Nicola's story", "#", :class=>'read_more'  
            =link_to "Learn about tinnitus", "#", :id=>'learn_more_bttn', :class=>'bttn_round'            
      #other_case_studies
        %h4 Other Stories
        %ul.lst
          %li
            =link_to image_tag("carousel_image.jpg"), "#"
          %li
            =link_to image_tag("carousel_image2.jpg"), "#"
          %li
            =link_to image_tag("carousel_image3.jpg"), "#"
          %li
            =link_to image_tag("carousel_image4.jpg"), "#"
          %li
            =link_to image_tag("carousel_image5.jpg"), "#"                                                
    #get_suppport
      %h2
        Get support
        
      %ul.lst
        %li
          -link_to("#", :id => "support_call") do
            %h5 Speak to someone
            %p Call our confidential helpline
            %p.phone_number 0800 018 0527
        %li
          -link_to(shop_path, :id => "support_shop") do
            %h5 Visit our shop
            %p Find products that can help you
        %li
          -link_to(forum_path(1), :id => "support_forum") do
            %h5 Share your story
            %p Visit our Forum
          
          
%br.clear  