-if in_campaigns?
  %img{:src => campaign_header_image_url}
  =link_to site_name, :home, :class=>'bta_home_link'
-else
  #user_links
    - if logged_in?
      =facebook_session ? facebook_connect_logout_link : link_to('Logout', session_url, :method => :delete)
      %strong
        =link_to(@logged_in_member.full_name, member_path(@logged_in_member))
    - elsif !current_page?(new_session_path)
      %p=link_to('login / sign up', new_session_path)
  -if is_home?
    #logo_box
      %h1#site_logo
        =link_to site_name, :home
      %p The British Tinnitus Association (BTA) is a world leader, with a trained team of friendly and experienced advisers for anyone who experiences tinnitus or those simply seeking guidance or information about the condition.
    #home_header
      #get_support
        %h2
          Get support
      
        %ul.lst
          %li
            -link_to(slug_path("about-tinnitus"), :id => "find_out_more") do
              %h5 Learn more
              %p Find out more about tinnitus
          %li
            -link_to(slug_path("contact-us"), :id => "support_call") do
              %h5 Speak to someone
              %p Call our confidential helpline
              %p.phone_number 0800 018 0527       