#nav
  %ul
    %li#link_home
      =link_to 'Home', {:controller => '/home'}
    %li#link_about
      =link_to 'About tinnitus', section_slug_path("about-tinnitus")
    %li
      =link_to 'Get support', section_slug_path("for-people-with-tinnitus")
    %li
      =link_to 'Forum', forum_path(1) 
    %li
      =link_to 'Shop', shop_path, :id=>'shop_link'
    %li
      =link_to 'News & Events', section_slug_path("news_and_events")
    %li.smaller
      =link_to 'For health professionals', section_slug_path("for-health-professionals")
    %li.smaller
      =link_to 'For researchers', section_slug_path("for-researchers")
    %li.smaller
      =link_to 'Policy', section_slug_path("for-policy-makers")

