#nav
  %ul
    %li#link_home
      =link_to 'Home', {:controller => '/home'}
    %li#link_about
      =link_to 'About tinnitus', section_path(4)
    %li
      =link_to 'Get support', section_path(5)
    %li
      =link_to 'For health professionals', section_path(6)
    %li
      =link_to 'For researchers', section_path(7)
    %li
      =link_to 'For policy makers', section_path(8)
    %li
      =link_to 'News & Events', Section.find_by_slug("news_and_events")
    %li
      =link_to 'Blog', blog_path(1)
    %li
      =link_to 'Forum', forum_path(1)
