#nav
  %ul
    %li.active
      =link_to 'Home', {:controller => '/home'}
    %li
      =link_to 'About tinnitus', page_path(1)
    %li
      =link_to 'Get support', {:controller => 'blog'}
    %li
      =link_to 'For health professionals', calendar_path
    %li
      =link_to 'For researchers', calendar_path      
    %li
      =link_to 'For policy makers', calendar_path      
    %li
      =link_to 'News &amp events', calendar_path      
