#search_box, ul#logged_out_nav li a, h1#site_logote_logo, #home #header, #case_study_carousel, #case_study_carousel .cycle, #case_study_carousel .slide, #get_suppport, #get_suppport ul li a#find_out_more, #get_suppport ul li a, #home_left_col, div#home_box_right, .lst, .lst li, #box_professionals li, #box_professionals li p, #box_professionals li h4, #box_professionals li img, #logo_box, #home h1#site_logo, div#home_header, #wrapper, #header, #nav ul, #nav ul li, #nav ul li a, #box_professionals, .lst, div#home_box_right li, #documents h3.title, .doc, div.call_to_action_wrapper, .call_to_action, #page_right_col {
	display:inline;
}
#logged_in_as ul li a {
	float:right;
}
#logged_in_as ul li {
	float:none;
}
#logged_in_as ul {
	float:none;
}
#box_professionals li {
	overflow:hidden;
}
span.end {
	display:none;
}
#nav ul li.active a, #home #nav ul li#link_home a {
	background-image: url(/images/nav_active.gif);
}
#get_support ul li a, #case_study_quote, #home_left_col .donate_bttn, div#twitter_box h3 a, #case_study_quote h3 span#quote_start, #case_study_quote h3 span#quote_end, #learn_more_bttn, a.learn_more_bttn {
	background-image: url(/images/sprite_bta.gif);
}	
#case_study_quote {
	background:#005b8e;
}