-if product.member_price_in_pounds
  %p.main_price="£#{'%.2f'% @product.member_price_in_pounds} members"
  %p.price="£#{'%.2f'% @product.price_in_pounds} non-members"
-else 
  %p.main_price="£#{'%.2f'% @product.price_in_pounds}"
-if product.overseas_price_in_pounds
  %p.price="£#{'%.2f'% @product.overseas_price_in_pounds} overseas"
%p.postage Prices include postage and packing
  