-content_for :sidebar do
  #subnav=render_shop_subnav(@product.department.root, @product)

-title @product
=render_breadcrumb(@product)
-if @product.deleted?
  %p.deleted_notice
    This product has been deleted
-unless @product.sku.blank?
  %p
    Product code:
    =@product.sku
#product_info
  .product_left_col
    =image_for(@product, '300x300', :class => 'product_image')
  .product_right_col
    =@product.description
#product_price
  .price_left_col
    -unless @product.member_special_offer.blank?
      #member_special_offer
        %h4 Member offer
        =@product.member_special_offer
  .price_right_col
    -if @product.member_price_in_pounds
      %p.main_price="£#{member_price_in_pounds} members"
      %p.price="£#{member_price_in_pounds} non-members"
    -else 
      %p.main_price="£#{member_price_in_pounds}"
   =render :partial => 'cart_items/form', :locals => {:product => @product}
=render_ratings_wall(@product.wall, :fb_connect => true)
-options_panel do
  =back_link
  -if @product.active?
    =link_if_allowed 'Edit', edit_product_proc(@product)
    =link_if_allowed 'Delete', @product, :method => :delete, :confirm => 'Are you sure?'
    TODO - add image link
