%p If you've got any questions, queries or suggestions about the website please fill out the form below.
-form.inputs do
  =form.input :name
  =form.input :email_address
  =form.input :message, :as => 'text', :input_html => {:rows => 10}