-content_for :sidebar do
  #subnav=render_subnav(@page.section.absolute_root, @page)

-title @page.title
-unless @page.published?
  %p#page_status
    =@page.status_string
#page_content
  #page_left_col
    =render :partial => 'content', :locals => {:page => @page}
  #page_right_col
    #article_image
      =photo_for(@page, "280x") if @page.has_photo?
    -if @page.is_event?
      .event_when
        %h3 When
        =date_description(@page)
      .event_where
        %h3 Where
        =render_address(@page.event_location)
        =render_google_map_for(@page.event, :width => 275, :height => 300)
    -else
      .summary_wrapper
        =snippet(@page, :summary)
      =snippet(@page, :pull_quote)
      .call_to_action_wrapper
        =snippet(@page, :call_to_action)
  -if @page.has_related_items?
    #related_content
      %h2.title Related Content
      =render_related_items(@page, :image_size => "145x75#")
-options_panel do
  ="Tagged #{in_tags(@page)}" unless @page.tags.empty?
  =link_if_allowed 'Edit', edit_page_proc(@page)
  =link_if_allowed 'Delete', page_proc(@page), :method => :delete, :confirm => 'Are you sure you want to delete this page?'
  =link_if_allowed 'Add page', new_section_page_proc(@page.section)
