-title "Forum"
%br.clear
%br
%h5.article_intro
  We are really sorry but we feel we have to temporarily suspend the BTA forum.
%p
  We wanted this to be a constructive place where people with tinnitus could get help and support. In the main, we achieved these aims, but the actions of a tiny minority were unacceptable. We are currently working towards resolving these issues and returning the forum to the safe and reassuring place we know it can be.
%p
  Please phone us on 0800 018 0527 or email
  =mail_to("info@tinnitus.org.uk")
  if you need support in the meantime.


-options_panel do
  =back_link