-title (@logged_in_member.is_admin? ? "All documents" : "Your documents")
-if @documents.blank?
  %p No documents yet.
-else
  %p.help The documents below exist on the system. So a document with the ID 123, can be found at http://tinnitus.org.uk/documents/123
  %table
    %tr
    %th ID
    %th Name
    %th
    %th
    -@documents.each do |document|
      -if allowed_to?(document_proc(document))
        %tr
          %td=document.id
          %td=link_to document, document
          %td=link_if_allowed "Edit", edit_document_proc(document)
          %td= link_if_allowed "Delete", document, :confirm => 'Are you sure?', :method => :delete
-options_panel do
  =back_link
  =link_if_allowed "New document", new_document_proc