.blog_post
  .blog_post_author
    -if blog_post.has_snippet?(:author_name)
      =blog_post_author_image(blog_post)
      .author_details
        %p.author
          =blog_post.snippet_author_name
        %p.date
          =blog_post.created_at.strftime '%d.%m.%y'
    -else
      =image_for(blog_post.author, '38x38>')
      .author_details
        %p.author
          =blog_post.author
        %p.date
          =blog_post.created_at.strftime '%d.%m.%y'
  .blog_post_details
    %h2.blog_post_title
      =link_to blog_post.title, blog_post
    .blog_post_image
      =link_to photo_for(blog_post, '200x150'), blog_post
    .blog_post_content
      =(strip_tags blog_post.text).word_truncate(200)
      %br
      %strong
        =link_to "Read more...", blog_post
    .details
  %br.clear