.contact.contact_info_window{:id => "contact_#{contact.id}"}
  .list_image
    =link_to(image_for(contact, "50x50#", :class => 'contact_image'), contact)
  %h3.contact_name=link_to(contact, contact)
  -if false
    .category
      =link_to(contact.category.name, contact.category, :style => "background-color:#{contact.category.color}")
  