- title @contact.name

=image_for(@contact, "100x100")
=contentize(@contact.description)
%p
  Category:
  =link_to(@contact.category,@contact.category)
=render_address(@contact.address, :multi_line => true)
%p=@contact.email unless @contact.email.blank?
%p=@contact.phone_number unless @contact.phone_number.blank?
%p=link_to_url(@contact.website) unless @contact.website.blank?


-options_panel do
  =back_link
  =link_if_allowed("Edit", edit_contact_proc)
  =link_if_allowed("Delete", @contact, :method => :delete, :confirm => "Are you sure?")