-hide_page_title
-unless @section.description.nil?
  %p.section_description
    =@section.description
#latestStoriesList
  %h2 News
  -@pages_sections.each do |page_section|
    .item
      =link_to(photo_for(page_section, "100x100#"), page_section, :class => 'item_img')
      .text
        %h3=link_to(page_section, page_section)
        %p=strip_tags description_for(page_section, :length => 150)
        =link_to 'More', page_section, :class => 'bttn'
  %br.clear
  =will_paginate @pages_sections
#latest_events
  %h2 Events
  %ul.event_list
    =event_list(Event.future.earliest_first.limit(13), :description_length => 80)
  =link_to("View the calendar", "/calendar", :id => "calendar_link")
-options_panel do
  =back_link
  =link_if_allowed 'Add news item', new_section_page_proc(@section)
  =link_if_allowed 'Add event', new_event_proc
  =link_if_allowed 'Edit section', edit_section_proc(@section)
  =link_if_allowed 'Delete', @section, :method => :delete, :confirm => "Are you sure you want to delete this section? (its subsections and pages will also be deleted)"